<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <meta charset="utf-8">
    <title>РГАЛИ - список персон</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link th:href="@{/css/storage-unit-list.css}" rel="stylesheet">
    <link th:href="@{/css/fund-card.css}" rel="stylesheet">
    <meta name="language" content="ru">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>

<main class="content" layout:fragment="content">
    <div class="content">
        <div th:replace="fragments/menu :: menu"></div>
    </div>

    <div class="b-table-button-return">
        <div class="b-indent_s_40"></div>
        <div class="b-indent_s_10"></div>
        <div th:replace="fragments/back-button :: back-button(backUrl = '/search')"></div>

        <th:block th:if="${isSearch}">
            <div class="fund_attribute">
                Результаты поиска:
                <li th:if="${searchForm.fundNumber} != ''" th:text="'№ фонда - ' + ${searchForm.fundNumber}"></li>
                <li th:if="${searchForm.opisNumber} != ''" th:text="'№ описи - ' + ${searchForm.opisNumber}"></li>
                <li th:if="${searchForm.storageUnitNumber} != ''"
                    th:text="'№ единицы хранения - ' + ${searchForm.storageUnitNumber}"></li>
                <li th:if="${searchForm.fondName} != ''" th:text="'Название единицы хранения - ' + ${searchForm.fondName}"></li>
                <li th:if="${searchForm.personaName} != ''" th:text="'Персона - ' + ${searchForm.personaName}"></li>
                <li th:if="${searchForm.organizationName} != ''"
                    th:text="'Организация - ' + ${searchForm.organizationName}"></li>
                <li th:if="${searchForm.yearDocumentFrom} != ''"
                    th:text="'Год с - ' + ${searchForm.yearDocumentFrom}"></li>
                <li th:if="${searchForm.yearDocumentTo} != ''"
                    th:text="'Год по - ' + ${searchForm.yearDocumentTo}"></li>
            </div>
            <div class="b-indent b-indent_s_5"></div>
            <div th:replace="fragments/search-results :: search-results" ></div>
            <div class="b-indent b-indent_s_15"></div>
            <th:block th:if="${isSearch}">
                <a class="blue-linked">Количество персон:&nbsp;</a>
                <a class="opis-count"
                   th:text="${searchResultCounts.totalPersons}">&nbsp5</a>
            </th:block>
            <div class="b-indent_s_40"></div>
        </th:block>
    </div>

    <div style="height:60px; width: 930px; margin-left: 300px; margin-top: 20px;"></div>

    <div class="b-indent_s_20"></div>

    <div style="min-height:500px">
        <div class="b-table b-table_mod_border b-table-attrs-storage-unit-list">
            <div class="b-table__wrap">
                <table class="b-table__table" style="width: 930px;">
                    <thead class="b-table__head">
                    <tr class="b-table__row">
                        <td class="b-table__cell" style="width:50px">
                            <p class="b-table__text">ФИО персоны</p>
                        </td>
                        <td class="b-table__cell" style="width:300px">
                            <p class="b-table__text"> Кол-во фондов (фондо-образователь)</p>
                        </td>
                        <td class="b-table__cell" style="width:150px">
                            <p class="b-table__text">Кол-во ед.хр. (автор)</p>
                        </td>
                        <td class="b-table__cell" style="width:100px">
                            <p class="b-table__text">Кол-во ед.хр. (персона)</p>
                        </td>
                        <td class="b-table__cell" style="width:50px">
                            <p class="b-table__text">Детальный просмотр</p>
                        </td>
                    </tr>
                    </thead>
                    <tbody class="b-table__body">
                    <tr th:each="person : ${model}" class="b-table__row">
                        <td class="b-table__cell b-table__cell_align_center">
                            <p class="b-table__text"><a th:id="'name_' + ${person.id}" th:text="${person.fio}" class="blue-linked">Ф.10</a></p>
                        </td>
                        <td class="b-table__cell b-table__cell_align_center">
                            <p th:if="${person.fondCount > 0}" class="b-table__text"><a href="#" th:text="${person.fondCount}" th:id="${person.id}" onclick="setSelectedPerson(this.id); fundSearch('1');" class="blue-linked">1</a></p>
                            <p th:if="${person.fondCount == 0}" class="b-table__text">0</p>
                        </td>
                        <td class="b-table__cell b-table__cell_align_center">
                            <p th:if="${person.dealAuthorCount > 0}" class="b-table__text"><a href="#" th:text="${person.dealAuthorCount}" th:id="${person.id}" onclick="setSelectedPerson(this.id); storageUnitSearch(2)" class="blue-linked">2</a>
                            <p th:if="${person.dealAuthorCount == 0}" class="b-table__text">0</p>
                        </td>
                        <td class="b-table__cell b-table__cell_align_center">
                            <p th:if="${person.dealPersonCount > 0}" class="b-table__text"><a href="#" th:text="${person.dealPersonCount}" onclick="setSelectedPerson(this.id); storageUnitSearch(1);" th:id="${person.id}" class="blue-linked">1</a></p>
                            <p th:if="${person.dealPersonCount == 0}" class="b-table__text">0</p>
                        </td>
                        <td class="b-table__cell b-table__cell_align_center">
                            <p class="b-table__text"></p><a th:href="'/person/' + ${person.id}" class="context-menu__toggle"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="b-indent_s_40"></div>

    <div id="prefooter"></div>

    <form  id="searchForm" action="#" th:action="@{/search}" th:object="${searchForm}" method="get">
        <input type="text" id="searchFormFundNumber" th:field="*{fundNumber}"/>
        <input type="text" id="searchFormOpisNumber" th:field="*{opisNumber}"/>
        <input type="text" id="searchFormStorageUnitNumber" th:field="*{storageUnitNumber}"/>
        <input type="text" id="searchFormFondName"  th:field="*{fondName}"/>
        <input type="text" id="searchPersonaName"   th:field="*{personaName}"/>
        <input type="text" id="searchFormOrganizationName"  th:field="*{organizationName}"/>
        <input type="text" id="searchFormYearDocumentFrom" th:field="*{yearDocumentFrom}"/>
        <input type="text" id="searchFormYearDocumentTo" th:field="*{yearDocumentTo}"/>
        <input type="text" id="searchFormPersonType"  th:field="*{personType}"/>
        <input type="text" id="searchFondType"  th:field="*{fondType}"/>
        <input type="text" id="searchPersonId"  th:field="*{personId}"/>
        <input type="text" id="isSimpleSearchFullForm" th:field="*{simpleSearch}"/>
    </form>

    <script type="text/javascript" th:src="@{/js/main.js}"></script>

    <script type="text/javascript">
        function setSelectedPerson(elem) {
            initState()
             $('#searchPersonId').val(elem)
        }

        function storageUnitSearch(personType) {
             initState()
             $('#currentPageField').val("1")
             $('#elementsOnPageField').val("20")
             $('#fieldForSortField').val("")

             $('#searchFormPersonType').val(personType)

             if (personType !== undefined) {
                 $('#searchFormOrganizationName').val("")
                 $('#searchFormFondName').val("")
             } else {
                 $('#searchFormOrganizationName').val("")
                 $('#searchPersonaName').val("")
             }

            $('#isSimpleSearchFullForm').val("false")

            $('#searchForm').attr('action', "/storage-unit/search").submit();
        }

        function fundSearch(fondType) {
            initState()
            $('#currentPageField').val("1")
            $('#elementsOnPageField').val("20")
            $('#fieldForSortField').val("")
            $('#isSimpleSearchFullForm').val("false")

            if ($('#searchFormFondName').val() === "") {
                $('#searchFormFondName').val($('#searchPersonaName').val())
            }

            if (fondType !== undefined ) {
                $('#searchFondType').val(fondType)
                $('#searchFormOrganizationName').val("")
                $('#searchPersonaName').val("")
            } else {
                $('#searchFondType').val(fondType)
                $('#searchFormOrganizationName').val("")
                $('#searchPersonaName').val("")
            }

            $('#searchForm').attr('action', "/fund/search").submit();
        }

        function personSearch() {
            initState()
            $('#searchForm').attr('action', "/person/search").submit();
        }

        function organizationSearch() {
            initState()
            $('#searchForm').attr('action', "/organization/search").submit();
        }

        function initState() {
            var url = new URL(window.location.href);
            $('#searchFormOrganizationName').val(url.searchParams.get("organizationName"))
            $('#searchFormFondName').val(url.searchParams.get("fondName"))
            $('#searchPersonaName').val(url.searchParams.get("personaName"))
        }
    </script>

</main>

</body>
</html>