<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="back-button(backUrl)" class="b-flex b-flex_valign_center b-flex_align_between">

    <div>
        <a class="b-button-rgali-return"  onclick="Previous()">
            <div class="b-button__icon b-button__icon_mod_return_rgali"></div>
            <div class="b-button__text">Вернуться</div>
        </a>
        <div class="b-indent_s_10"></div>
    </div>
</div>
</body>
</html>