<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="menu">
    <div class="b-indent_s_45"></div>
    <div class="content__wrap">
        <div class="content__body">
            <div>
            </div>
            <div class="content__item_title" onclick="location.href = '/working'">
                <a class="content__item_title_text">Услуги</a>
            </div>
        </div>
    </div>
    <div class="b-indent_s_5"></div>
    <div class="content__wrap">
        <div class="content__body">
            <div></div>
            <div class="content__item" onclick="location.href='/price'">
                <span class="content__item_text" href="/price">Прейскурант услуг архива</span>
            </div>
        </div>
    </div>
    <div class="b-indent_s_5"></div>
    <div class="content__wrap">
        <div class="content__body">
            <div></div>
            <div class="content__item" onclick="location.href='/request'">
                <span class="content__item_text">Запрос в архив</span>
            </div>
        </div>
    </div>
    <div class="b-indent_s_5"></div>
    <div class="content__wrap">
        <div class="content__body">
            <div>
            </div>
            <div class="content__item" onclick="location.href = '/working'">
                <a class="content__item_text">Заказ дел в читальный зал</a>
            </div>
        </div>
    </div>
    <div class="b-indent_s_5"></div>
    <div class="content__wrap">
        <div class="content__body">
            <div>
            </div>
            <div class="content__item" onclick="window.open('https://sic.rgantd.ru/','_blank');">
                <a class="content__item_text">Запрос в Справочно-информационный <br>центр федеральных государственных<br>архивов</a>
            </div>
        </div>
    </div>
    <div class="b-indent_s_5"></div>
    <div class="content__wrap">
        <div class="content__body">
            <div>
            </div>
            <div class="content__item" onclick="location.href = '/tour'">
                <a class="content__item_text">Проведение экскурсий</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>