<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <title>РГАЛИ - в работе</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link th:href="@{/css/opis-card.css}" rel="stylesheet">
    <link th:href="@{/css/fund-card.css}" rel="stylesheet">
    <meta name="language" content="ru">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body style="background:#f0f0f0;" data-new-gr-c-s-check-loaded="14.1034.0" data-gr-ext-installed="">
    <div class="b-flex b-flex_valign_center b-flex_align_center" style="height: 500px;">
        <div class="square">
            <div class="sign-attention">
                <img width="120" src="images/gears.png">
            </div>
            <div class="b-indent_s_10"></div>
            <div class="error-text"><a>Страница находится в разработке.<br>Приносим свои извинения.</a></div>
            <div class="b-indent_s_50"></div>
            <div class="b-flex b-flex_align_center"><a style="text-decoration: none" href="/" class="b-button-rgali-return">
                <div class="b-button__icon b-button__icon_mod_return_rgali"></div>
                <div class="b-button__text">Вернуться</div>
            </a>
                <div class="b-indent_s_10"></div>
            </div>
        </div>
    </div>
</body>
</html>