<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>РГАЛИ - главная страница</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link th:href="@{/css/storage-unit-list.css}" rel="stylesheet">
    <link th:href="@{/css/fund-card.css}" rel="stylesheet">
    <meta name="language" content="ru">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body style="background:#f0f0f0;">
    <div class="b-flex b-flex_valign_center b-flex_align_center" style="height: 500px;">
        <div class="square">
            <div class="sign-attention">
                <img width="120" src="/images/error.png">
            </div>
            <div class="b-indent_s_10"></div>
            <div class="error-text"><a>Возникла ошибка на сервере,<br>мы работаем над устранением</a></div>
            <div class="b-indent_s_50"></div>
            <div class="b-flex b-flex_align_center"><a style="text-decoration: none" href="/" class="b-button-rgali-return">
                <div class="b-button__icon b-button__icon_mod_return_rgali"></div>
                <div class="b-button__text">Вернуться</div>
            </a>
                <div class="b-indent_s_10"></div>
            </div>
        </div>
    </div>
</body>