<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <meta charset="utf-8">
    <title>РГАЛИ - смена пароля</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link th:href="@{/css/opis-card.css}" rel="stylesheet">
    <link th:href="@{/css/fund-card.css}" rel="stylesheet">
    <meta name="language" content="ru">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        form i {
           margin-left: -30px;
           cursor: pointer;
        }
    </style>
</head>
<body>

<main class="content" layout:fragment="content">
    <div class="content">
        <div class="content">
            <div class="b-indent_s_20"></div>
            <div class="article-title">
                <a>Личный кабинет</a>
            </div>
            <div th:if="${infoMessage != null}" th:text="${infoMessage}" class="label-attrs-registration-new red-colored-linked-no-underline" style="margin-top: 20px; margin-left: 200px;" >Неверный логин или пароль</div>
            <div class="b-indent_s_30"></div>
            <div class="tabs tabs-color">
                <input type="radio" name="tab-btn" id="tab-btn-1" value="" disabled="">
                <label onclick="location.href='/cabinet/user-info'" for="tab-btn-1">Данные пользователя</label>
                <input type="radio" name="tab-btn" id="tab-btn-2" value="" checked="">
                <label onclick="location.href='/cabinet/change-password'" for="tab-btn-2">Смена пароля</label>
                <input type="radio" name="tab-btn" id="tab-btn-3" value="" disabled="">
                <label onclick="location.href='/cabinet/requirements'" for="tab-btn-3">Требования</label>
                <div id="content-1"></div>
                <div id="content-2">
                    <div class="b-indent_s_10"></div>
                    <form name="changePassword" th:action="@{/cabinet/change-password}" th:object="${changePasswordForm}" method="post" style="padding: 0 10px 5px 10px;">
                        <div class="subtitle-text-reg-bold-new">
                            <a>Смена пароля</a>
                        </div>
                        <div class="b-indent_s_10"></div>
                        <div>
                            <label class="label-attrs-registration-new-normal" style="width: 120px;">Новый пароль</label>
                            <input id="password" class="b-form__input-registration" th:field="*{password}" type="password" style="margin-left: 20px; width: 390px;">
                            <i class="fa fa-eye-slash  fa-lg" id="togglePassword"></i>
                            <label class="label-attrs-registration-new-normal" style="width: 160px; margin-left: 50px;">Повторите пароль</label>
                            <input id="confirmPassword" class="b-form__input-registration" th:field="*{passwordConfirm}" type="password" style="width: 390px;"/>
                            <i class="fa fa-eye-slash  fa-lg" id="toggleConfirmPassword"></i>
                        </div>
                        <div class="b-indent_s_20"></div>
                        <div class="b-flex">
                            <a class="b-button-rgali">
                                <div class="b-button__text" onclick="document.forms['changePassword'].submit.click()" style="width: 80px; text-align: center;">Сохранить</div>
                            </a>
                            <a class="b-button-rgali-grey" style="margin-left: 15px;">
                                <div onclick="location.href='/'"  class="b-button__text-for-grey" style="width: 80px; text-align: center;">Отменить</div>
                            </a>
                        </div>
                        <input style="display:none" name="submit" type="submit" value="submit" />
                    </form>
                    <div class="b-indent_s_10"></div>
                </div>
                <div id="content-3"></div>
            </div>
        </div>
        <div class="b-indent_s_10"></div>
    </div>

    <script>
        function showHidePassword(passwordElement, toggleElement) {
            const togglePassword = document.querySelector(toggleElement);
            const password = document.querySelector(passwordElement);

            togglePassword.addEventListener('click', function (e) {
                const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
                password.setAttribute('type', type);
                if (this.classList.contains('fa-eye-slash')) {
                 this.classList.remove('fa-eye-slash');
                 this.classList.toggle('fa-eye');
                }
                else {
                    this.classList.remove('fa-eye');
                    this.classList.toggle('fa-eye-slash');
                }
            });
         }
         showHidePassword('#password','#togglePassword')
         showHidePassword('#confirmPassword','#toggleConfirmPassword')
    </script>

    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</main>

</body>
</html>