<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <meta charset="utf-8">
    <title>РГАЛИ - новое требование</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link th:href="@{/css/storage-unit-list.css}" rel="stylesheet">
    <link th:href="@{/css/fund-card.css}" rel="stylesheet">
    <meta name="language" content="ru">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        form i {
           margin-left: -30px;
           cursor: pointer;
        }
    </style>
</head>
<body>

<main class="content" layout:fragment="content">
    <div class="content">
        <div class="content">
            <div class="b-indent_s_20"></div>
            <div class="article-title">
                <a>Личный кабинет</a>
            </div>
            <div class="b-indent_s_30"></div>
            <div id="infoMessage"  class="label-attrs-registration-new red-colored-linked-no-underline" style="color:red; margin-left: 500px;" ></div>
            <div id="hasCriticalErrors" style="display:none">0</div>

            <div class="tabs tabs-color">
                <input type="radio" name="tab-btn" id="tab-btn-1" value="" disabled="">
                <label onclick="location.href='/cabinet/user-info'" for="tab-btn-1">Данные пользователя</label>
                <input type="radio" name="tab-btn" id="tab-btn-2" value="" disabled="">
                <label onclick="location.href='/cabinet/change-password'" for="tab-btn-2">Смена пароля</label>
                <input type="radio" name="tab-btn" id="tab-btn-3" value="" checked="">
                <label onclick="location.href='/cabinet/requirements'" for="tab-btn-3">Требования</label>
                <div id="content-1"></div>
                <div id="content-2"></div>
                <div id="content-3">
                    <form  name="askForm" th:action="@{/cabinet/requirements-new}" th:object="${askForm}" method="post">
                        <div class="tab-title">
                            <a>Создание требования</a>
                        </div>
                        <div class="b-indent_s_10"></div>
                        <div class="b-form">
                            <label class="label-attrs-requirement">Номер требования</label>
                            <input class="input-attrs-requirement" readonly required th:field="*{askNum}" value="106027" style="width: 250px;">
                            <label class="label-attrs-requirement" style="margin-left: 40px;">Дата подачи требования</label>
                            <div class="b-form">
                                <input class="input-attrs-requirement" readonly required type="text" th:field="*{requestDate}"  style="width:175px" ></a>
                            </div>
                            <label class="label-attrs-requirement" style="margin-left: 40px;">Требуемая дата выдачи</label>
                            <div class="">
                                <input class="input-attrs-requirement" id="askDate" required th:field="*{askDate}" type="text" value="01.01.2012" style="width:175px" ></a>
                            </div>
                        </div>
                        <div class="b-indent_s_10"></div>
                        <div class="b-form">
                            <label class="label-attrs-requirement">Номер фонда</label>
                            <input class="input-attrs-requirement" required id="num_f" th:field="*{num_f}" style="width: 139px;" onkeypress='return event.charCode >= 48 && event.charCode <= 57' >
                            <label class="label-attrs-requirement1" style="margin-left: 15px; width:105px;">Номер описи</label>
                            <input class="input-attrs-requirement" required id="num_o" th:field="*{num_o}" style="width: 139px;" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                            <label class="label-attrs-requirement1" style="margin-left: 15px; width:60px;">Литера</label>
                            <select id="selectLiteralOpis" th:field="*{literalOpis}"  style="margin-left: 30px; width: 755px; display:block">
                                <option th:if="askForm.literalOpis != null" th:text="${askForm.literalOpis}" th:value="${askForm.literalOpis}" selected></option>
                            </select>
                            <label class="label-attrs-requirement1" style="margin-left: 15px; width:105px;">Номер ед.хр.</label>
                            <input class="input-attrs-requirement" required id="num_d" th:field="*{num_d}" style="width: 139px;" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                            <label class="label-attrs-requirement1" style="margin-left: 15px; width:60px;">Литера</label>
                            <select id="selectLiteralDeal" th:field="*{literalDeal}"  style="margin-left: 30px; width: 755px;">
                                <option th:if="askForm.literalDeal != null" th:text="${askForm.literalDeal}" th:value="${askForm.literalDeal}" selected></option>
                            </select>
                        </div>
                        <div class="b-indent_s_10"></div>
                        <div class="b-form">
                            <label class="label-attrs-requirement">Архивный шифр</label>
                            <input class="input-attrs-requirement" id="cypher" required readonly th:field="*{cypher}" style="width: 250px;">
                            <label class="label-attrs-requirement1" style="margin-left: 15px; width:120px;">Кол-во листов</label>
                            <input class="input-attrs-requirement" th:field="*{numLists}"  readonly required id="pages" style="width: 80px;">
                            <label class="label-attrs-requirement1" style="margin-left: 15px; width:50px;">Поток</label>
                            <input class="input-attrs-requirement" id="warehouse" th:field="*{warehouseName}" style="width: 443px;">
                        </div>
                        <div class="b-indent_s_10"></div>
                        <div class="b-form b-form_align_top">
                            <label class="label-attrs-requirement">Заголовок единицы хранения</label>
                            <textarea class="b-form__area" id="headerDoc" required th:field="*{headerDoc}" style="height:46px;width: 990px;">Письмо Карташевской Надежды Тимофеевны (по мужу Мосоловой, урожд. Аксаковой) Аксакову Тимофею Степановичу. С пометками неустановленного лица.</textarea>
                        </div>
                        <div class="b-indent_s_10"></div>
                        <div>
                            <label class="label-attrs-requirement" style="margin-right: 50px;">Цель занятий</label>
                            <select id="selectPurposeResearch"  th:field="*{purposeResearchTypeId}"  type="text" style="width: 755px;">
                                <option th:if="${goal != null && goal.text != null}" selected th:text="${goal.text}" th:value="${goal.id}"></option>
                            </select>
                        </div>
                        <div class="b-indent_s_10"></div>
                        <div>
                            <label class="label-attrs-requirement"  style="margin-right: 50px;">Темы работы</label>
                            <select id="selectResearchTheme"   th:field="*{themename}" required  type="text" style="margin-left: 30px; width: 755px;">
                                <option th:if="${researchTheme != null && researchTheme.text != null}" selected th:text="${researchTheme.text}" th:value="${researchTheme.id}"></option>
                            </select>
                        </div>
                        <div class="b-indent_s_30"></div>
                        <div class="b-flex">
                            <a class="b-button-rgali">
                                <div class="b-button__text" onclick="send()" style="width: 80px; text-align: center;">Сохранить</div>
                            </a>
                            <a class="b-button-rgali-grey" style="margin-left: 15px;" onclick="Previous()">
                                <div class="b-button__text-for-grey" style="width: 80px; text-align: center;">Отменить</div>
                            </a>
                        </div>
                        <input name="submit" type="submit" value="submit"  style="display:none">
                    </form>
                    <div class="b-indent_s_10"></div>
                </div>
            </div>
        </div>
        <div class="b-indent_s_10"></div>
    </div>

    <script type="text/javascript" th:src="@{/js/main.js}"></script>

    <script type="text/javascript">

        function autoDealCheck() {
            let num_f = $('#num_f').val()
            let num_o = $('#num_o').val()
            let num_d = $('#num_d').val()
            let suffixOpis = $('#selectLiteralOpis').val()
            let suffixDeal = $('#selectLiteralDeal').val()

            if ( (num_f != '') && (num_o != '') && (num_d != '') ) {
                $.get("/api/v1/warehouse?fondNumber=" + num_f + "&opisNumber=" + num_o + "&dealNumber=" + num_d
                    +  "&suffixOpis=" + suffixOpis + "&suffixDeal=" + suffixDeal
                ,function( data ) {
                    $('#warehouse').val(data)
                });

                $.get("/api/v1/storage-unit?fondNumber=" + num_f + "&opisNumber=" + num_o + "&dealNumber=" + num_d +
                       "&suffixOpis=" + suffixOpis + "&suffixDeal=" + suffixDeal,

                 function( data ) {
                    if (data.id == undefined && data.displayNumber != undefined) {
                         $('#infoMessage').text(data.displayNumber)
                         $('#headerDoc').val("")
                         $('#pages').val("")
                         $('#hasCriticalErrors').text("0")
                         return
                    }

                    if (data.id == undefined && data.title != undefined) {
                         $('#infoMessage').text(data.title)
                         $('#headerDoc').val("")
                         $('#pages').val("")
                         $('#hasCriticalErrors').text("1")
                         return
                    }

                    $('#headerDoc').val(data.title)
                    $('#pages').val(data.pages)
                    $('#infoMessage').text("")
                    $('#hasCriticalErrors').text("0")
                });
            }

            createCypher()
        }

        function createCypher() {
            $('#cypher').val("ф. " + $('#num_f').val() + " оп. " +
                                     $('#num_o').val() +
                                     $('#selectLiteralOpis').val().trim() + " ед. хр. " +
                                     $('#num_d').val() + $('#selectLiteralDeal').val().trim()
            )
        }

        function send() {
            if ($('#hasCriticalErrors').text() == "0" ) {
                document.forms['askForm'].submit.click()
            }
        }

        function checkAskDate() {
          $.get("/api/v1/check-ask-date?date=" + $('#askDate').val(), function( data ) {
                    console.log(data)
                    if (data.id == "true") {
                        $('#infoMessage').text("")
                    }
                    else {
                       $('#askDate').val("")
                       $('#infoMessage').text(data.text)
                     }
                });
        }

        $(document).ready(function() {

          checkAskDate()
          autoDealCheck()

          $("#askDate").focusout(function() {
              checkAskDate()
          });

           $('#askDate').click(function() {
                if ($( this ).attr("type") == "text") {
                    $( this ).attr("type", "date")
                }
            });

            $('#selectLiteralOpis').on('select2:select', function (e) {
                 autoDealCheck()
            });

            $('#selectLiteralDeal').on('select2:select', function (e) {
                 autoDealCheck()
            });

            $('#num_f').focusout(function() {
               autoDealCheck()
            })

            $('#num_o').focusout(function() {
               autoDealCheck()
            })

            $('#num_d').focusout(function() {
               autoDealCheck()
            })

           $('#selectPurposeResearch').select2({
             width: '990px',
             ajax: {
                url: '/api/v1/purpose-research',
                dataType: 'json',
                params: {
                  method: 'get'
                },
                processResults: function (data) {
                      return {
                        results: data
                      };
                }
              }
           });

        $('#selectResearchTheme').select2({
             width: '990px',
             allowClear: true,
             tags: true,
             ajax: {
                url: '/api/v1/research-theme',
                dataType: 'json',
                params: {
                  method: 'get'
                },
                processResults: function (data) {
                      return {
                        results: data
                      };
                }
              }
           });

        $('#selectLiteralOpis').select2({
             width: '75px',
             ajax: {
                url: '/api/v1/liter',
                dataType: 'json',
                params: {
                  method: 'get'
                },
                processResults: function (data) {
                      return {
                        results: data
                      };
                }
            }
        });

        $('#selectLiteralDeal').select2({
             width: '75px',
             ajax: {
                url: '/api/v1/liter',
                dataType: 'json',
                params: {
                  method: 'get'
                },
                processResults: function (data) {
                      return {
                        results: data
                      };
                }
              }
           });

        });
    </script>
</main>

</body>
</html>