<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <meta charset="utf-8">
    <title>РГАЛИ - информация о пользователе</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link th:href="@{/css/opis-card.css}" rel="stylesheet">
    <link th:href="@{/css/fund-card.css}" rel="stylesheet">
    <meta name="language" content="ru">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        form i {
           margin-left: -30px;
           cursor: pointer;
        }
    </style>
</head>
<body>

<main class="content" layout:fragment="content">
    <div class="content">
        <div class="content">
            <div class="b-indent_s_20"></div>
            <div class="article-title">
                <a>Личный кабинет</a>
            </div>
            <div th:if="${infoMessage != null}" th:text="${infoMessage}" class="label-attrs-registration-new red-colored-linked-no-underline" style="margin-top: 20px; margin-left: 200px;" >Неверный логин или пароль</div>
            <div class="b-indent_s_30"></div>
            <div class="tabs tabs-color">
                <input type="radio" name="tab-btn" id="tab-btn-1" value="" checked="">
                <label onclick="location.href='/cabinet/user-info'" for="tab-btn-1">Данные пользователя</label>
                <input type="radio" name="tab-btn" id="tab-btn-2" value="" disabled="">
                <label onclick="location.href='/cabinet/change-password'" for="tab-btn-2">Смена пароля</label>
                <input type="radio" name="tab-btn" id="tab-btn-3" value="" disabled="">
                <label onclick="location.href='/cabinet/requirements'" for="tab-btn-3">Требования</label>
                <div id="content-1">
                    <div class="b-indent_s_10"></div>
                    <form name="userInfo" th:action="@{/cabinet/user-info}" th:object="${registrationForm}" method="post" style="padding: 0 10px 5px 10px;">
                        <div class="subtitle-text-reg-bold-new">
                            <a>Пользователь</a>
                        </div>
                        <div class="b-indent_s_10"></div>
                        <div class="b-form">
                            <label class="label-attrs-registration-new-normal" style="width: 120px;">Фамилия<a
                                    class="red-colored">*</a></label>
                            <input th:field="*{firstName}" required class="b-form__input-registration" style="margin-left: 20px; width: 261px;">
                            <label class="label-attrs-registration-new-normal" style="width: 90px; margin-left: 10px;">Имя<a
                                    class="red-colored">*</a></label>
                            <input th:field="*{secondName}" required class="b-form__input-registration" style="width: 261px;">
                            <label class="label-attrs-registration-new-normal" style="width: 90px; margin-left: 10px;">Отчество</label>
                            <input class="b-form__input-registration" th:field="*{thirdName}" style="width: 261px;">
                        </div>
                        <div class="b-indent_s_10"></div>
                        <div class="b-form">
                            <label class="label-attrs-registration-new-normal" style="width: 120px;">Страна<a
                                    class="red-colored">*</a></label>
                            <input class="b-form__input-registration" required th:field="*{country}" style="margin-left: 20px; width: 261px;">
                            <label class="label-attrs-registration-new-normal" style="width: 90px; margin-left: 10px;">Телефон<a
                                    class="red-colored">*</a></label>
                            <input class="b-form__input-registration" minlength="11" maxlength="20" type="tel" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="+71111111111" required th:field="*{phone}" style="width: 261px;">
                            <label class="label-attrs-registration-new-normal" style="width: 90px; margin-left: 10px;">Email<a
                                    class="red-colored">*</a></label>
                            <input class="b-form__input-registration" th:field="*{email}" type="email" required style="width: 261px;">
                        </div>
                        <div class="b-indent_s_10"></div>
                        <div class="b-form">
                            <label class="label-attrs-registration-new-normal" style="width: 120px;">Почтовый адрес<a
                                    class="red-colored">*</a></label>
                            <input class="b-form__input-registration" th:field="*{index}" required type="text"
                                   style="margin-left: 20px; width: 1000px;">
                        </div>
                        <div class="b-indent_s_10"></div>
                        <div>
                            <label class="label-attrs-registration-new-normal" style="width: 140px; margin-right: 44px;">Цель занятий</label>
                            <select id="selectPurposeResearch" class="b-form__input-registration" th:field="*{goal}" style="margin-left: 30px; width: 755px;">
                                <option value="" selected="selected"></option>
                                <option selected th:text="${goalSelectedOption.text}" th:value="${goalSelectedOption.value}"></option>
                            </select>
                        </div>
                        <div class="b-indent_s_10"></div>
                        <div>
                            <label class="label-attrs-registration-new-normal" style="width: 140px; margin-right: 36px;">Темы работы<a class="red-colored">*</a></label>
                            <select id="selectResearchTheme" class="b-form__input-registration" th:field="*{workTheme}" required  type="text" style="margin-left: 30px; width: 755px;">
                                <option selected th:text="${workThemeSelectedOption.text}" th:value="${workThemeSelectedOption.value}"></option>
                            </select>
                        </div>
                        <div class="b-indent_s_10"></div>
                        <div class="subtitle-text-reg-bold-new">
                            <a>Организация</a>
                        </div>
                        <div class="b-indent_s_10"></div>
                        <div class="b-form">
                            <label class="label-attrs-registration-new-normal" style="width: 120px;">Наименование</label>
                            <input class="b-form__input-registration" th:field="*{organizationName}" style="margin-left: 20px; width: 1000px;">
                        </div>
                        <div class="b-indent_s_10"></div>
                        <div class="b-form">
                            <label class="label-attrs-registration-new-normal" style="width: 120px;">ФИО руководителя</label>
                            <input class="b-form__input-registration" th:field="*{fioBoss}" type="text" style="margin-left: 20px; width: 1000px;">
                        </div>
                        <div class="b-indent_s_10"></div>
                        <div class="b-form">
                            <label class="label-attrs-registration-new-normal" style="width: 120px;">Почтовый адрес, телефон</label>
                            <input class="b-form__input-registration"  th:field="*{organizationIndexAndPhone}" type="text" style="margin-left: 20px; width: 1000px;">
                        </div>
                        <div class="b-indent_s_10"></div>
                        <div class="b-form">
                            <label class="label-attrs-registration-new-normal" style="width: 120px;">Банковские реквизиты</label>
                            <input class="b-form__input-registration" th:field="*{billingDetails}" type="text"  style="margin-left: 20px; width: 1000px;">
                        </div>
                        <div class="b-indent_s_40"></div>
                        <div class="b-flex">
                            <a class="b-button-rgali">
                                <div class="b-button__text" onclick="document.forms['userInfo'].submit.click()" style="width: 80px; text-align: center;">Сохранить</div>
                            </a>
                            <a class="b-button-rgali-grey" style="margin-left: 15px;">
                                <div onclick="location.href='/'"  class="b-button__text-for-grey" style="width: 80px; text-align: center;">Отменить</div>
                            </a>
                        </div>
                        <input style="display:none" name="submit" type="submit" value="submit" />
                    </form>
                    <div class="b-indent_s_10"></div>
                </div>
                <div id="content-2">
                </div>
                <div id="content-3">
                </div>
            </div>
        </div>
        <div class="b-indent_s_10"></div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
           $('#selectPurposeResearch').select2({
             width: '520px',
             ajax: {
                url: '/api/v1/purpose-research',
                dataType: 'json',
                params: {
                  method: 'get'
                },
                processResults: function (data) {
                      return {
                        results: data
                      };
                }
              }
           });

        $('#selectResearchTheme').select2({
             width: '520px',
             allowClear: true,
             tags: true,
             ajax: {
                url: '/api/v1/research-theme',
                dataType: 'json',
                params: {
                  method: 'get'
                },
                processResults: function (data) {
                      return {
                        results: data
                      };
                }
              }
           });
        });
    </script>

    <script>
        const tel = $('[type="tel"]');

        tel.keydown(function (e) {
            if (!tel.val().startsWith('+'))
                tel.val().length == 0 ? tel.val('+7' + tel.val()) : tel.val('+' + tel.val());
            })
        .keyup(function () {
            tel.val('+' + tel.val().split("+").pop());
            if (!tel.val().startsWith('+')) tel.val('+' + tel.val());
        })
        .change(function() {
            if (tel.val() === '+') tel.val('');
        });
    </script>

    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</main>

</body>
</html>