<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <meta charset="utf-8">
    <title>РГАЛИ - сброс пароля</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link th:href="@{/css/opis-card.css}" rel="stylesheet">
    <link th:href="@{/css/fund-card.css}" rel="stylesheet">
    <meta name="language" content="ru">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>

<main class="content" layout:fragment="content">
    <div class="content">
        <div th:replace="fragments/small-menu :: menu"></div>
        <div style="height: 570px;">
            <div class="autorization-block">
                <div class="container-text-center photos-description__text__fio">
                    <span>«Для смены пароля нажмите кнопку «Сбросить».</span>
                </div>
                <div class="b-indent_s_20"></div>
                <form id="go" th:action="@{/reset-password}" th:object="${resetPasswordForm}" method='POST' style="padding: 0 10px 5px 10px;">
                    <div class="b-form">
                        <label class="label-attrs-registration-new" style="width: 60px; margin-left: 220px;">Логин<a class="red-colored">*</a></label>
                        <input class="b-form__input-registration" th:field="*{email}" type="email" name='email' style="margin-left: 30px; width: 380px;">
                    </div>

                    <div class="b-indent_s_10"></div>
                    <div class="b-flex">
                        <a class="b-button-rgali" style="margin-left: 400px;">
                            <div class="b-button__text" onclick="document.forms['go'].submit.click()"  style="width: 80px; text-align: center;">Сбросить</div>
                            <input style="display:none"  name="submit" type="submit" value="submit" />
                        </a>
                        <a class="b-button-rgali-grey" style="margin-left: 15px;">
                            <div class="b-button__text-for-grey" onclick="location.href='/login'" style="width: 80px; text-align: center;">Отмена</div>
                        </a>
                    </div>
                </form>

            </div>
        </div>
        <div class="b-indent_s_35"></div>
        <div id="prefooter"></div>
    </div>

    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</main>

</body>
</html>